.pln {color: white;}
@media screen {
  .str,.string,.regularexpression,.value {color: #e6db74;}
  .kwd,.keyword {color: #66D9EF;}
  .com,.comment,.line-comment,.block-comment {color: #75715E;}
  .param {color: #FD971F;font-style: italic;}
  .typ,.lang-html .attribute {color: #a6e22e;}
  .lit,.number,.numeric,.boolean {color: #ae81ff;}
  .lang-html .title,.control-flow,.operator{color:#f92672}
  .atn {color: #a6e22e;}
  .atv {color: #e6db74;}
  .fun {color: red;}
}

@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
