// Mixins
// Bootstrap Button Variant
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin lineg($direction,$color1,$color2) {
  background: linear-gradient($direction,$color1,$color2);
  background: -moz-linear-gradient($direction,$color1,$color2);
  background: -webkit-linear-gradient($direction,$color1,$color2);
  background: -o-linear-gradient($direction,$color1,$color2);

}
@mixin body-font {
  font-family: 'Open Sans', serif;
}
@mixin heading-font {
  font-family: 'Saira Extra Condensed', serif;
}
