// Variables

// Colors

$white:    #e7dfdf !default;
$gray-100: #dbcccc !default;
$gray-200: #ebd3d3 !default;
$gray-300: #e2d8d8 !default;
$gray-400: #bdc1c5 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #526475 !default;
$gray-800: #64686b !default;
$gray-900: #424242 !default;
$black:    #3b3a3a !default;

$blue:    #3a6696 !default;
$indigo:  #663ca9 !default;
$purple:  #49366e !default;
$pink:    #d2a9bc !default;
$red:     #ea394b !default;
$orange:  #ff814f !default;
$yellow:  #ffde7a !default;
$green:   #56ff7e !default;
$teal:    #6ed5b6 !default;
$cyan:    #6acddc !default;

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Page Variables

$sidebar-base-width: 17rem;
