@import 'reset';

@mixin links_styled {
    a {
      opacity: 1.0;
      text-decoration: none;
      font-size: 7rem;
      line-height: 0.5;
      transition: 0.2s all ease-in-out;
      color: rgb(44, 4, 221);
      text-shadow: rgb(83, 0, 131) 0px 2px 10px;
        &:hover {
          opacity:1;
          text-shadow: rgb(99, 44, 151) 0px 10px 12px;
         }
  }
}



body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url(../img/3.jpg);
  background-origin: center center;
  background-size: cover;
  
  header {
    background-color: rgb(32, 35, 66);
    position: relative;
    margin: 20px auto;
    padding: 0;
    height: 10vh;
    width: 81%;
    border: 5px solid rgb(44, 4, 221);
    border-radius: 25px;
    
   
    h1 {
      font-size: 15em;
      top: -110px;
      color: #2c04dd;
      line-height: 2;
      position: relative;
      float: left;
      margin-left: 5%;
      text-transform: uppercase;
      font-family: 'VT323', cursive;
      display:block;
    } //h1
    ul {
      list-style: none;
      list-style-type: none;
      display:block;
      position: relative;
      float: right;
      margin: 30px 90px;
      li {
          font-family: 'VT323', cursive;
          display:inline-block;
          text-transform: uppercase;
          padding: 25px 15px;
          text-align: center;
          height: 30px;
          @include links_styled;
          &:first-child {
            border-left: 0;
          }
        } //li
      }//ul
    }//header
    main {
      $one:rgba(#2c04dd, 0.25);
      $oneS:$one+#fff;
      width: 80vw;
      height: 80vh;
      border: 1px solid $oneS;
      background-color: rgba($one, 1);
      border-radius: 25px;
      margin: 0 auto;
      
    }
  }//body
  @media (max-width:768px) {
    header {
      display: none;
    }
  }
