@import 'reset';
@import 'neat';

//debugging settings

@mixin debug($size,$color) {
  border: $size $color dotted !important;
}
$wht1: #ffffff;
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../img/bg.jpg);
  background-origin: center center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  // font-family: "BLOKK";
  
  .link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 2.8em;
    line-height: 1;
    color: $wht1;
    display: inline-block;
    text-shadow: #333 0px 1px 5px;
  }

  .link--anim {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.89;
    color: $wht1;
  }

  .link--anim:hover {
    color: $wht1;
  }

  .link--anim::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 800px;
    top: 60%;
    margin-top: -30px;
    right: 0;
    background: $wht1;
    color: #000;
    transform: translate3d(0, -199%, 0);
    transition: all 0.69s;
    transition-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.75);
    opacity: 0.85;
  }

  .link--anim:hover::after {
    transform: translate3d(0, 0, 0);
    opacity: 0.1;
    margin-top: 100px;
  }

  .link--anim::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: $wht1;
    white-space: nowrap;
    width: 0%;
    transition: width 0.5s 1s;
  }

  .link--anim:hover::before {
    width: 100%;
  }

  .link--anim.active {
    opacity: 0.5;
  }

  header {
    // background: #1f1f1f;
    position: relative;
    margin: 20px auto;
    padding: 0;
    height: 10vh;
    width: 62.5%;
    font-weight: 300;
    border-radius: 8px;
    h1 {
      font-size: 1.5em;
      top: 55px;
      color:rgb(255, 255, 255);
      line-height: 2;
      position: absolute;
      float: left;
      margin-left: 3%;
      text-transform: uppercase;
      display: block;
      text-shadow: #7a7a7a 0 2px 1px;
    } //h1
    ul {
      list-style: none;
      list-style-type: none;
      display:block;
      position: relative;
      float: right;
      margin: 40px 50px;
      li {
          display:inline-block;
          text-transform: uppercase;
          padding: 25px 15px;
          text-align: center;
          height: 30px;
          &:first-child {
            border-left: 0;
          }
        } //li
      }//ul
    }//header
    main {
      clear: both;
      // float: 0;
      $one:rgba(#555, 0.95);
      width: 50vw;
      height: 60vh;
      box-shadow: rgba(99, 93, 93, 0.35) 0 5px 10px;
      background-color: rgba(255, 255, 255,0.89);
      // border-radius: 25px;
      margin: 0 auto;
      border-radius: 15px;
      font-size: 18px;
      text-align: center;
      section {
          margin: 0;
          padding: 0;
          height: 100%;
      
      .page_title {
        padding: 80px 0;
        font-size: 5rem;
        color: $one;
        margin: 0 auto;
        position: relative;
      }
      
      .page_body {
        font-size: 1.25em;
        padding: 0 100px;
      }
      }
    }
    footer {
      #social {
        a {

        }
      }
    }
  }//body